{
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "no-use-before-define": 0,
    "new-cap": 0,
    "quotes": [2, "single"],
    "comma-dangle": "always"
  }
}