body {
  color: #333;
}

.header {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.repo-link { 
  padding: 40px 0 0 0;
}

textarea.form-control {
  font-family: Menlo, Consolas, monospace;
  font-size: 12px;
  height: 400px;
}
